#admin-page {
    table {
        border: 1px solid #ccc;
        table-layout: fixed;
        width: 100%;
        font-size: 12px;
        word-break: break-all;
    }
    th, td {
        border: 1px solid #ccc;
        padding: 10px;
    }
}
