.btn {
    color: $blue-light;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 0.9em 0;
    width: 100%;
}

a:link.btn {
    color: $blue-light;
}

.btn:hover, .btn:focus {
    color: rgba(53, 165, 179, 0.6);
}

a:link.btn:hover {
    color: rgba(53, 165, 179, 0.6);
}

/* yellow background, blue text */
.primary-button {
    background-color: $yellow;
}

/* solid blue border and text, white background */
.secondary-button {
    background-color: white;
    border: 2px solid $blue-light;
}

/* dotted blue border and text, white background */
.tertiary-button {
    background-color: white;
    border: 2px dotted $blue-light;
}

.cta-button {
    margin: 20px auto 30px;
}

.blue-button {
    background: $blue-light;
    color: $yellow;
    border: 4px solid $yellow;

    &:hover {
        color: $yellow;
    }
}

.button-option {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
