.btn {
    color: $blue-light;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bolder;
    letter-spacing: 1px;
    padding: 0.9em 2em;
    margin: 10px 0;
    width: 100%;
    text-decoration: none;

    &[disabled]:hover {
        color: $blue-light;
    }

    &.center-block {
        margin-left: 0;
        margin-right: 0;
    }

    @media (min-width: $tablet-min) {
        width: auto;
        margin: 10px;
    }
}

a:link.btn {
    color: $blue-light;
}

.btn:hover, .btn:focus, a:link.btn:hover {
    color: #3096A3;
}

/* yellow background, blue text */
.primary-button {
    background-color: $yellow;
    border: 2px solid $yellow;
}

/* solid blue border and text, white background */
.secondary-button {
    background-color: $white;
    border: 2px solid $white;
}
.reversed-bg .secondary-button {
    border: 2px solid $blue-light;
}
.delete-button {
    background-color: #aa0000;
    color: $white;
}

/* dotted blue border and text, white background */
.tertiary-button {
    background-color: $white;
    border: 2px dotted $blue-light;
}

.cta-button {
    margin: 20px auto 30px;
}

.round-button {
    background-color: $yellow;
    border: 2px solid $yellow;
    padding: 0.9em 2em;
    margin: 10px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 183px;
    right: 153px;
    p {
      color: $blue-light;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 19px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 90;
    }
}

.blue-button {
    background: $blue-light;
    color: $yellow;
    border: 4px solid $yellow;

    &:hover {
        color: $yellow;
    }
}
