.campaign-form {
    font-size: 16px;
    background-color: white;
    color: $blue-light;
    background-color: white;
}

.campaign-input {
    color: $blue-light;
    border-color: $blue-light;
    margin-bottom: 30px;
}

.prompt-title {
    display: inline-block;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    margin-bottom: 15px;
    margin-left: 45px;
    margin-right: 45px;
}

.main-icon {
  margin-bottom: 25px;
}
