input[type="text"], input[type="email"], textarea[type="text"], input[type="file"], input[type="password"] {
    margin: 0 auto 20px;
    border-radius: 0;
}

.errors {
    color: $dark-red;
    margin: 20px 0;
    text-align: left;
}

.errors.text-center {
    text-align: center;
}

.form-field-error, .form-field-error:focus {
    border-color: $dark-red !important;
    &::-webkit-input-placeholder {
        color: $dark-red;
    }
}

.form-field-error:focus {
    box-shadow: inset 0 1px 1px rgba(162, 39, 39, 0.3), 0 0 8px rgba(162, 39, 39, 0.3);
}

.error-help-text {
    display: block;
    color: $dark-red;
    text-align: left;
    margin: -12px 0 20px;
}

.form-group {
    &.align-right {
        text-align: right;

        .btn:last-of-type {
            margin-right: 0;
        }
    }
}

.forgot-password {
    float: right;
}
