.horizontal-line {
  width: 100%;
  border-bottom: thin solid $yellow;
}

.circle.large {
  width: 200px;
  height: 200px;
  padding-top: 0;
  position: relative;
}

.top-section {
  position: static;
  margin: 20px auto;
}

.home-pg-text {
  color: white;
  font-size: 19px;
  text-transform: uppercase;
}

.top-section .home-pg-text {
  position: relative;
  margin: 0 auto;
}

.circle .home-pg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
