html {
    height: 100%;
}

body {
    padding-bottom: 20px;
    background-color: $blue-light;
    position: relative;
    min-height: 100%;
    font-family: 'Monteserrat', sans-serif;
    color: $white;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Monteserrat', sans-serif;
}

a, a:hover {
    color: $white;
    text-decoration: underline;
}

.reversed-bg a, .reversed-bg a:hover {
    color: $blue-light;
}

.section-header {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: medium;
    letter-spacing: .2;
}

.body-copy {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar {
    background-color: $yellow;
    border-radius: 0;
    height: 50px;
}

.hamburger {
    position: absolute;
    left: 20px;
    top: 12px;
}

.logo {
    height: 38px;
    margin: 6px;
}

.profile-photo {
    height: 90%;
    position: absolute;
    right: 11px;
    top: 3px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 2px 15px 32px;
    font-size: 18px;
    font-weight: bold;
    color: $blue-light;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.sidenav a:hover {
    text-decoration: none;
}

.sidenav hr {
    height: 2px;
    color: $blue-light;
    background-color: $blue-light;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.content-wrapper {
    height: 100%;
    position: relative;
    margin: auto;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid $gray-light;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid $gray-light;
}

.campaign-circles {
  margin-top: 60px;
}

.user-input {
  width: 100%;
}

.spacing-block {
  margin-bottom: 25px;
}

.image-page {
  width: 100%;
  margin-top: -75px;
}

.max-text {
    text-align: left;
    margin-left: 5px;
    margin-top: -25px;
    font-size: 12px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $gray-light;
  background-color: white;
  color: rgb(60,165,178);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.capital-heading {
  margin-bottom: 5px;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.circle {
  border: 3px solid $yellow;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.8;
  -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  width: 150px;
  height: 150px;
  z-index: 86;
  text-align: center;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  font-size: 20px;
  color: $white;
  line-height: 30px;
  padding-top: 30px;
}

.verticalLine {
    border-right: 3px solid #FDCC06;
    opacity: 0.8;
    height: 35px;
    width: 1px;
}

.reversed-text {
    color: $white;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
