 <div id="form-container" class="container">
      <div class="text-center">
      Calling your congressman is one of the biggest ways to make an impact on policy. Shaun King is asking for your help to call on this issue.
 		<input id="searchTextField" type="text" style="width:90%" placeholder="Enter a location" autocomplete="on" runat="server" /><br><br>
 		<input id="submit" type="button" value="Submit" />
 		<input id="latitude" type="hidden" />
 		<input id="longitude" type="hidden" />
 	  </div>
 </div>