 <div id="form-container" class="container">
      <div class="text-center">
 		<input id="searchTextField" type="text" style="width:90%" placeholder="Enter a location" autocomplete="on" runat="server" />
 		<input id="submit" type="button" value="Submit" />
 		<input id="latitude" type="hidden" />
 		<input id="longitude" type="hidden" />
 	  </div>
 </div>