 <div id="form-container" class="container">
      <div class="text-center">
 		<input id="title" type="text" size="50" placeholder="Enter a location" />
 		<input id="script" type="text" size="50" placeholder="Type your script here"   />
 		<input id="thankyou" type="text" size="50" placeholder="Type your script here" />
 		<input id="publish" type="button" value="Publish" />
 	  </div>
 </div>