node_modules
npm-debug.log
**/secrets*.js
.github-todos
.vscode
.idea
.sass-cache
.env
*.env
**/secrets.js

public/build/**
!.gitkeep
.tern-project

# Logs
logs

# Mounted MongoDB data
data

# for OSX
.DS_Store

# testing assets
*.mp4
screenshots/**/*.png
