<div class="campaign-circles">
    <div class="circle center-block">
      Create new issue
    </div>
    <div class="row">
      <div class="verticalLine center-block">
    </div>
    <div class="circle center-block">
      View past issues
    </div>
</div>
    