    <div class="row" style="padding-top: 50px">
      <div class="col-md-2 col-md-offset-5 circle">
        Create new Issue
      </div>
    </div>
    <div class="row" style="padding-top: 0px">
      <div class="col-md-2 col-xs-offset-5 verticalLine">
      </div>
    </div>
    <div class="row" style="padding-top: 0px">
      <div class="col-md-2 col-md-offset-5 circle">
        View past issue
      </div>
    </div>
</div>
    