.campaign-form {
    font-size: 16px;
    background-color: white;
    color: #35A5B3;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
}

.campaign-input {
    color: #35A5B3;
    border-color: #35A5B3;
    margin-bottom: 30px;
}

.prompt-title {
    display: inline-block;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    margin-bottom: 15px;
    margin-left: 45px;
    margin-right: 45px;
}