.horizontal-line {
  width: 100%;
  border-bottom: thin solid #FDCC06;
}

.circle.large {
  width: 200px;
  height: 200px;
  padding-top: 0;
  position: relative;
}

.top-section {
  position: static;
  margin: 20px auto;
}

.home-pg-text {
  color: white;
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.top-section .home-pg-text {
  position: relative;
  margin: 0 auto;
}

.circle .home-pg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta-button {
  width:90%;
  height: 50px;
  background:#FDCC06;
  color: #35A5B3;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin: 0 auto 20px;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
}
