input[type="text"] {
    width: 90%;
    margin: 0 auto 20px;
    border-radius: 0;
}

input[type="password"] {
    width: 90%;
    margin: 0 auto 20px;
    border-radius: 0;
}

button[type="submit"] {
    width: 90%;
    height: auto;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0 auto 20px;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    background: #FDCC06;
    color: #35A5B3;
}

button h3 {
    margin: 1em auto;
    font-size: 1.5em;
    font-weight: bold;
}
