/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: #35A5B3;
  position: relative;
}

#searchTextField{
  height: 50px;
}

#cta-text {
  color: white;
  font-weight: bold;
  font-size: 19px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#submit {
  width:90%;
  height: 50px;
  background:#FDCC06;
  color: #35A5B3;
}

#body{
  position: relative;
}

.general-text {
    color: #FFF;
    font-weight: bold;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar {
    background-color: #FDCC06;
    position: relative;
}

.row {
    color: #35A5B3;
    height: 50px;
}

.glyphicon-menu-hamburger {
    position: absolute;
    left: 20px;
    top: 18px;
}

.logo {
    height: 90%;
    margin-bottom: 5px;
}

.profile {
    height: 90%;
    position: absolute;
    right: 11px;
    top: 3px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 2px 2px 2px 32px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #35A5B3;
    display: block;
    transition: 0.3s;
}

.sidenav hr {
    height: 2px;
    color: #35A5B3;
    background-color: #35A5B3;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.content-wrapper {
    max-width: 1000px;
    margin: auto;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.campaign-circles {
  margin-top: 60px;
}

.user-input {
  width: 100%;
}

.spacing-block {
  margin-bottom: 25px;
}

.image-page {
  width: 100%;
  margin-top: -75px;
}

.max-text {
    text-align: left;
    margin-left: 5px;
    margin-top: -25px;
    font-size: 12px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: white;
  color: rgb(60,165,178);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.call-button {
  background-color: rgb(252,203,48);
  color: rgb(60,165,178);
}

.capital-heading {
  margin-bottom: 5px;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.congress-intro{
  color: white;
}

.circle {
  border: 3px solid #FDCC06;
  border-radius: 50%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.8;
  -webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
  width: 150px;
  height: 150px;
  z-index: 86;
  text-align: center;
  -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 30px;
  padding-top: 30px;
}

.circle.filled {
  background-color: #666666;
}

.verticalLine {
  border-right: thin dotted #FDCC06;
  height: 35px;
  width:1px;
}

.main-icon {
  margin-bottom: 25px;
}

.button-option {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn {
    color: #35A5B3;
    font-weight: 500;
    border-radius: 3px;
}

.btn:hover {
    color: rgba(53, 165, 179, 0.6);
}

/* yellow background, blue text */
.primary-button {
  background-color: #FCCB30;
}

/* solid blue border and text, white background */
.secondary-button {
  background-color: white;
  border: 2px solid #34A5B3;
}

/* dotted blue border and text, white background */
.tertiary-button {
  background-color: white;
  border: 2px dotted #34A5B3;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
