<div class="container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
            <form name="requestPasswordEmailForm">
                <h1>Forgot Password</h1>
                <p>Enter the email address you used to sign up at helloGov and we'll send you an email with instructions to reset your password.</p>
                <div class="form-group">
                    <input name="email" type="text" class="form-control input-lg" placeholder="Email address" ng-model="$ctrl.emailRequestDetails.email" ng-required="true"
                        autocomplete="off" autocorrect="off" autocapitalize="off">
                </div>
                <div class="form-group">
                    <button type="submit" ng-click="$ctrl.requestReset()" class="btn primary-button cta-button" ng-disabled="requestPasswordEmailForm.$invalid || $ctrl.submitDisabled">Submit</button>
                </div>
                <div ng-if="$ctrl.message">
                    {[{$ctrl.message}]}
                </div>
                <div class="errors" ng-if="$ctrl.error">
                    {[{$ctrl.error}]}
                </div>
            </form>
        </div>
    </div>
</div>
