<div class="container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
            <form name="resetPasswordForm">
                <h1>Reset Your Password</h1>
                <p>Enter in your new password below.</p>
                <div class="form-group">
                    <input name="password" type="password" class="form-control input-lg" placeholder="Enter new password"
                        ng-model="$ctrl.resetDetails.password" ng-required="true" ng-minlength="8" ng-maxlength="32" maxlength="32"
                        ng-class="{'form-field-error': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid}">
                    <span class="error-help-text"
                        ng-if="resetPasswordForm.password.$touched && resetPasswordForm.password.$error.minlength">
                        Please use a password that is at least 8 characters.
                    </span>
                </div>
                <div class="form-group">
                    <input name="passwordConfirm" type="password" class="form-control input-lg" placeholder="Retype password"
                        ng-model="$ctrl.resetDetails.passwordConfirm" ng-required="true" match-input="$ctrl.resetDetails.password"
                        ng-minlength="8" ng-maxlength="32" maxlength="32"
                        ng-class="{'form-field-error': resetPasswordForm.passwordConfirm.$touched && resetPasswordForm.passwordConfirm.$invalid}">
                    <span class="error-help-text" ng-if="resetPasswordForm.passwordConfirm.$touched && resetPasswordForm.passwordConfirm.$error.unique">Passwords must match.</span>
                </div>
                <div ng-if="$ctrl.passwordResetSuccess">
                    <p>You have successfully reset your password. Please <a href="/login">log in</a> with this new password.</p>
                </div>
                <div class="errors" ng-if="$ctrl.error">
                    {[{$ctrl.error}]}
                </div>
                <div class="form-group">
                    <button type="submit" ng-click="$ctrl.resetPassword()" class="btn primary-button cta-button" ng-disabled="resetPasswordForm.$invalid">Create new password</button>
                </div>
            </form>
        </div>
    </div>
</div>
