<div id="form-container" class="container">
  <div class="text-center">

    <div class="campaign-circles">
        <img
            src="/images/shaun_king_circle.png"
            class="img-responsive img-circle center-block"
            alt="Your Rep"
            width="200"
          />
        <div class="row">
            <div class="verticalLine center-block">
            </div>
          <div id="cta-text" class="circle center-block">
            <div>
              Join me in supporting the Bridge Act
            </div>
          </div>
        </div>

      <br>
   		<input id="searchTextField" type="text" style="width:90%" placeholder="Enter a location" autocomplete="on" runat="server" /><br><br>
   		<input id="submit" type="button" value="Submit" />
   		<input id="latitude" type="hidden" />
   		<input id="longitude" type="hidden" />
    <!-- end campaign-circles -->
 	  </div>

  </div>
</div>
