<div ng-if="$ctrl.campaigns.length > 0">
    <a href="/create" class="btn cta-button primary-button">Create Campaign</a>
    <br><br>
    <div ng-repeat="campaign in $ctrl.campaigns" class="background-white">
        <div class="campaign-info">
            <h5 class="campaign-date">{[{campaign.createdAt | date: 'longDate'}]}</h5>
            <h4>{[{campaign.title}]}</h4>
            <h5 ng-if="!campaign.publish">DRAFT</h5>
            <div class="text-center">
                <div>
                    <!-- TODO: Update analytics link when we have individual pages for each campaign -->
                    <!-- Removed because not enough analytics to dedicate to entire page -->
                    <!-- <a href="{[{campaign.url}]}/analytics"><div class="option-button">
                        <input type="image" src="/images/analytics_icon.svg" />
                        <p>Analytics</p>
                    </div></a> -->
                    <!-- TODO: This should give feedback, ideally like in the mockup -->
                    <div class="option-button">
                        <input type="image" src="/images/white_link_icon.jpg" ngclipboard data-clipboard-text="{[{$ctrl.hostName}]}{[{campaign.url}]}" />
                        <p>Link</p>
                    </div>
                    <a ng-href="{[{campaign.url}]}/edit"><div class="option-button">
                        <input type="image" src="/images/pencil.jpg" />
                        <p>Edit</p>
                    </div></a>
                    <!-- TODO: Show a warning first like in the mockup -->
                    <a ng-click="$ctrl.delete(campaign.id)"><div class="option-button">
                        <input type="image" src="/images/white_delete_icon.jpg" />
                        <p>Delete</p>
                    </div></a>
                </div>
                <div>
                    <div class="option-button">
                        <p class="analytics-display">{[{analytics.call}]}</p>
                        <p>Calls</p>
                    </div>
                    <div class="option-button">
                        <p class="analytics-display">{[{analytics.visit}]}</p>
                        <p>Visits</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="$ctrl.campaigns.length === 0">
    <div class="circle extra-large center-block">
        <p>
            Looks like you haven't created any campaigns yet!
        </p>
    </div>
    <a href="/create"><div class="round-button"><p>Create a Campaign</p></div></a>
</div>

<div class="errors text-center" ng-if="$ctrl.error">
    {[{$ctrl.error}]}
</div>
