<style>
body {
  background-color: white;
}
</style>
<div class="campaign-form container reversed-bg">
  <div class="text-center col-md-8 col-md-offset-2">
    <div class="main-icon">
      <img
        ng-src="/images/notepad_icon.png"
        class="img-responsive center-block"
        alt="Notepad"
        width="50"
      />
      <div>
        Enter the title and script you'd like to show to your followers.
        <br />
        Optionally, you can add a link for them to learn more about the topic.
      </div>
    </div>
    <form name="createForm">
      <div class="form-group">
        <div class="prompt-title"><h4>CAMPAIGN TITLE</h4></div>
        <textarea
          name="title"
          class="form-control input-lg campaign-input"
          ng-class="{'form-field-error': createForm.title.$touched && createForm.title.$invalid}"
          ng-model="$ctrl.campaign.title"
          rows="2"
          maxlength="140"
          required
        >
        </textarea>
        <div class="max-text">Max 140 characters</div>
      </div>

      <div class="form-group">
        <div class="prompt-title"><h4>SCRIPT</h4></div>
        <textarea
          name="script"
          class="form-control input-lg campaign-input"
          ng-class="{'form-field-error': createForm.script.$touched && createForm.script.$invalid}"
          ng-model="$ctrl.campaign.script"
          rows="6"
          maxlength="1000"
          required
        >
        </textarea>
        <div class="max-text">Max 1000 characters</div>
      </div>

      <div class="form-group">
        <div class="prompt-title"><h4>THANK YOU MESSAGE</h4></div>
        <textarea
          name="thank_you"
          class="form-control input-lg campaign-input"
          ng-class="{'form-field-error': createForm.thank_you.$touched && createForm.thank_you.$invalid}"
          ng-model="$ctrl.campaign.thank_you"
          rows="4"
          maxlength="250"
          required
        >
        </textarea>
        <div class="max-text">Max 250 characters</div>
      </div>

      <div class="form-group">
        <div class="prompt-title"><h4>LEARN MORE URL</h4></div>
        <textarea
          name="learn_more"
          class="form-control input-lg campaign-input"
          ng-model="$ctrl.campaign.learn_more"
          rows="2"
          maxlength="200"
        >
        </textarea>
        <div class="max-text">Max 200 characters</div>
      </div>

      <div class="errors" ng-if="error">
        {[{error}]}
      </div>
      <div class="form-group align-right">
        <button type="button" class="btn secondary-button btn-lg" ng-click="$ctrl.saveCampaign(false)" ng-disabled="!createForm.$valid">
          Save As Draft
        </button>
        <button type="submit" class="btn primary-button btn-lg" ng-click="$ctrl.saveCampaign(true)" ng-disabled="!createForm.$valid">
          Submit
        </button>
      </div>
      <div class="form-group align-right">
        <a href="/home">Cancel</a>
      </div>
    </form>
  </div>
</div>
