<link href="/css/campaignSuccess.css" rel="stylesheet">

<div ng-controller="successController" class="container">
  <div class="text-center">

    <img
      src="/images/yellow_link_icon.png"
      class="link-icon"
      alt="link"
      width="60"
    />

    <div class="instructions">
      <p>Here's your custom URL. Share it with your followers so that they can access your script and the contact info for their representatives.</p>
    </div>


    <!-- TODO: Hardcoded links should get changed back to hellogov (and use https not http) before general launch -->
    <h3 class="url-yellow">heyaGOV.ORG/{[{shortid}]}</h3>

    <!-- TODO: This should give feedback so user knows link was copied, ideally like in the mockup -->
    <button class="cta-button btn-yellow" ngclipboard data-clipboard-text="http://www.heyagov.org/{[{shortid}]}" /><h3>Copy URL</h3></button>
    <!-- TODO: When we have actual preview page, use that URL instead -->
    <a href="/{[{shortid}]}"><div class="cta-button btn-blue"><h3>Preview URL</h3></div></a>
    <a href="/campaigns"><div class="cta-button btn-blue"><h3>Go to campaigns</h3></div></a>

  </div>
</div>
