<link href="/css/campaigns.css" rel="stylesheet">

<div class="background-blue text-center">
    <button class="cta-button btn-yellow"><a href="/createCampaign"><h3>Create Campaign</h3></a></button>
    <br>

    <div ng-controller="campaignController" >
    	<div ng-repeat="campaign in campaigns" class="background-white">
            <div class="campaign-info">
                <h5>{[{campaign.date}]}</h5>
                <h4>{[{campaign.title}]}</h4>
                <h5 ng-if="!campaign.publish">DRAFT</h5>
                <div class="text-center">
                    <!-- TODO: Update analytics link when we have individual pages for each campaign -->
                    <a href="/analytics/{[{campaign._id}]}"><div class="option-button">
                        <input type="image" src="/images/analytics_icon.svg" />
                        <p>Analytics</p>
                    </div></a>
                    <!-- TODO: This should give feedback, ideally like in the mockup -->
                    <!-- TODO: Hardcoded links should get changed back to hellogov (and use https not http) before general launch -->
                    <div class="option-button">
                        <input type="image" src="/images/white_link_icon.jpg" ngclipboard data-clipboard-text="http://www.heyagov.org/{[{campaign._id}]}" />
                        <p>Link</p>
                    </div>
                    <a ng-href="/{[{campaign._id}]}/edit"><div class="option-button">
                        <input type="image" src="/images/pencil.jpg" />
                        <p>Edit</p>
                    </div></a>
                    <!-- TODO: Show a warning first like in the mockup -->
                    <a href="/{[{campaign._id}]}/delete"><div class="option-button">
                        <input type="image" src="/images/white_delete_icon.jpg" />
                        <p>Delete</p>
                    </div></a>
                </div>
            </div>
    	</div>
    </div>
</div>
