<div ng-controller="campaignController">
	<br>
	<div ng-repeat="campaign in campaigns">
        {[{campaign._id }]}
		{[{campaign.title }]}
		{[{campaign.script}]}
		{[{campaign.learn_more}]}
		{[{campaign.thank_you}]}
	</div>
	<br>
</div>
