<style>
body {

  background-color: white;
}
</style>
<div ng-controller="campaignController" class="campaign-form">
  <div class="text-center">
    <div class="main-icon">
      <img
        src="/images/notepad_icon.png"
        class="img-responsive center-block"
        alt="Notepad"
        width="50"
      />
      <div>
        Instructional
        <br />
        copy lorum ipsum
      </div>
    </div>
    <form>
      <div class="form-group">
        <div class="prompt-title"><h4>CAMPAIGN TITLE</h4></div>
        <textarea
          class="form-control input-lg campaign-input"
          ng-model="formData.title"
          rows=2
        >
        </textarea>

        <div class="prompt-title"><h4>SCRIPT</h4></div>
        <textarea
          class="form-control input-lg campaign-input"
          ng-model="formData.script"
          rows=6
        >
        </textarea>

        <div class="prompt-title"><h4>THANK YOU MESSAGE</h4></div>
        <textarea
          class="form-control input-lg campaign-input"
          ng-model="formData.thank_you"
          rows=4
        >
        </textarea>
        <div class="prompt-title"><h4>LEARN MORE URL</h4></div>
        <textarea
          class="form-control input-lg campaign-input"
          ng-model="formData.learn_more"
          rows=2
        >
        </textarea>
        <button type="submit" class="btn primary-button btn-lg btn-block button-option" ng-click="createCampaign(true)">
          SUBMIT
        </button>
        <button type="button" class="btn secondary-button btn-lg btn-block button-option" ng-click="createCampaign(false)">
          SAVE AS DRAFT
        </button>
        <button type="reset" class="btn tertiary-button btn-lg btn-block button-option">
          CANCEL
        </button>
      </div>
    </form>
  </div>
</div>
