<div ng-controller="requestPasswordEmailController">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-3">
                <form name="requestPasswordEmailForm">
                    <div class="form-group">
                        <input name="email" type="text" class="form-control input-lg" placeholder="Email address" ng-model="emailRequestDetails.email" ng-required="true"
                            autocomplete="off" autocorrect="off" autocapitalize="off">
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="requestReset()" class="btn primary-button cta-button" >Reset my password</button>
                    </div>
                    <div ng-if="message">
                        {[{message}]}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
