<div class="container settings-container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">
	  The best way to get help is to email us:
	  <a href="mailto:team@hellogov.org">team@hellogov.org</a>.  <br><br>

	  We're glad you're here!
        </div>
    </div>
</div>
