<div id="form-container" class="container">

  <div class="text-center col-sm-8 col-sm-offset-2">
    <form action="/create1">
      <!-- above line changed by kerobinso -->
      <button class="btn cta-button primary-button">Create New Campaign</button>
    </form>
    <div class="top-section">
      <p class="home-pg-text top-section">
        Dashboard
      </p>
    </div>
    <br>

     <div class="row">
       <a href="/campaigns">
         <div class="circle large center-block">
           <p class="home-pg-text">
             Campaigns
           </p>
         </div>
       </a>
       <div class="verticalLine center-block">
       </div>
       {{!-- <a href="/analytics">
         <div class="circle large center-block">
           <p class="home-pg-text">
             Analytics
           </p>
         </div>
       <div class="verticalLine center-block">
       </div> --}}
       <!-- TODO - Add link to Help page once created -->
       <a href="">
         <div class="circle large center-block">
           <p class="home-pg-text">
             Help
           </p>
         </div>
       </a>
    </div>

  </div>
</div>
