<div class="container">
    <div class="text-center col-md-8 col-md-offset-2">
        <a href="/create" class="btn cta-button primary-button">Create Campaign</a>
        <br><br>
        <campaigns-list></campaigns-list>
    </div>
</div>
