<link href="/css/home.css" rel="stylesheet">

<div id="form-container" class="container">

  <div class="text-center">
    <form action="/createCampaign">
      <button class="cta-button">Create New Campaign</button>
    </form>
    <div class="horizontal-line"></div>
    <div class="top-section">
      <p class="home-pg-text top-section">
        Dashboard
      </p>
    </div>

    <img
       src="/images/shaun_king_circle.png"
       class="img-responsive img-circle center-block"
       alt="Profile"
       width="200"
     />

     <div class="row">
       <div class="verticalLine center-block">
       </div>
       <a href="/campaigns">
         <div class="circle large center-block">
           <p class="home-pg-text">
             Campaigns
           </p>
         </div>
       </a>
       <div class="verticalLine center-block">
       </div>
       <a href="/analytics">
         <div class="circle large center-block">
           <p class="home-pg-text">
             Analytics
           </p>
         </div>
       <div class="verticalLine center-block">
       </div>
       <!-- TODO - Add link to Help page once created -->
       <a href="">
         <div class="circle large center-block">
           <p class="home-pg-text">
             Help
           </p>
         </div>
       </a>
    </div>

  </div>
</div>
