<div ng-controller="resetPasswordController">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-sm-offset-3">
                    <div class="form-group">
                        <input name="password" type="password" class="form-control input-lg" placeholder="Enter new password"
                            ng-model="resetDetails.password" ng-required="true"
                            ng-class="{'form-field-error': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid}">
                    </div>
                    <div class="form-group">
                        <input name="passwordConfirm" type="password" class="form-control input-lg" placeholder="Retype password"
                            ng-model="resetDetails.passwordConfirm" ng-required="true" match-input="resetDetails.password"
                            ng-class="{'form-field-error': resetPasswordForm.passwordConfirm.$touched && resetPasswordForm.passwordConfirm.$invalid}">
                        <span class="error-help-text" ng-if="resetPasswordForm.passwordConfirm.$touched && resetPasswordForm.passwordConfirm.$error.unique">Passwords must match.</span>
                    </div>
                    <input type="hidden" ng-init="resetDetails.resetToken='{{{passwordReset.resetToken}}}'">
                    <div class="errors" ng-if="error">
                        {[{error}]}
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-click="resetPassword()" class="btn primary-button cta-button">Create new password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
