<div class="container settings-container">
    <div class="row">
        <div class="col-sm-7 col-sm-offset-3">

Every Script needs 3 parts:
    <br> 1. An introduction
    <br> 2. A conversation starter
    <br> 3. A call to action
<br> 
<br> The Intro:
    <br> Every call needs to begin with two pieces of info. The caller must identify themselves as a constituent (A voter in the politician's district) and explain why they are calling.
        <br> Example: Hi my name is Casey. I live in 90024 and I¡¯m calling in support of senate bill 66 and forcing Trump to release his taxes.
<br>
<br> The Conversation: It¡¯s important for the caller to express their feelings in their own words. Create a few conversation topics as jumping off points and use emojis as emotional primers.
<br> Example: 
<br>1. Trump¡¯s finances
<br>2. Transparency
<br>3. Trump¡¯s Russian Ties
<br>
<br> Call to Action:Finish with a call to action. Push the politician to do a concrete action, provide more information, or both. 
        <br> Example: Please vote yes on 66. Also, could you please list the dates of your upcoming townhalls?
<br> 
<br> Quick Facts (bonus round): You also have the option to add some relevant facts that the caller can refer to during the call. If you do, please be sure to check and double check your sources - FAKE NEWS RUINS CALLS! For a handy guide on fact checking click here!
	  
        </div>
    </div>
</div>
