<div ng-controller="userController">
  <div class="container">
      <div class="row text-center">

          <!-- TODO: Find an image to go here so it doesn't look so bland -->

          <form>
              <div class="form-group">
                  <input type="text" class="form-control input-lg text-center" placeholder="Enter your signup email here" ng-model="signupDetails.email">
                  <input type="text" class="form-control input-lg text-center" placeholder="Enter your username here" ng-model="signupDetails.username">
                  <input type="password" class="form-control input-lg text-center" placeholder="Enter your password here" ng-model="signupDetails.password">
              </div>
              <button type="submit" ng-click="signUp()" class="btn primary-button">Sign Up</button>
          </form>
      </div>
  </div>
</div>
