<div ng-controller="userController">
  <div class="container">
      <div class="row text-center">

          <!-- TODO: Find an image to go here so it doesn't look so bland -->

          <form name="signupForm">
              <div class="form-group">
                  <input type="text" class="form-control input-lg text-center" placeholder="Enter your signup email here (required)" ng-model="signupDetails.email">
                  </br></br>
                  <input type="text" class="form-control input-lg text-center" placeholder="First name" ng-model="signupDetails.firstName">
                  <input type="text" class="form-control input-lg text-center" placeholder="Last name" ng-model="signupDetails.lastName">
                  <input type="text" class="form-control input-lg text-center" placeholder="Username" ng-model="signupDetails.username">
                  <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="signupDetails.password">
                  <input type="hidden" ng-init="signupDetails.signupLink='{{{signup.signupLink}}}'">
              </div>
              <button type="submit" ng-click="signUp()" class="btn primary-button">Sign Up</button>
            </form>

            <!-- <p class="home&#45;pg&#45;text top&#45;section">OR</p> -->
            <!-- <a href="/auth/facebook"><img src="/images/fb_login.png"></a> -->
      </div>
  </div>
</div>
