<!DOCTYPE html>
<html lang="en" ng-app="helloGov">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="../../favicon.ico">
    <title>helloGov</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDM2H_5tEaB4OM1Dr2iR893KmwczVNXExs&libraries=places" type="text/javascript"></script>

    <script src="/js/bundle.js"></script>
    <script src="/js/core.js"></script>

    <script>
      function openNav() {
          document.getElementById("sideMenu").style.width = "320px";
      }

      function closeNav() {
          document.getElementById("sideMenu").style.width = "0";
      }
    </script>
  </head>

  <body class="{{{body_class}}}">
    <nav id="nav" class='navbar text-center'>
      <div class="row">
          <span class="glyphicon glyphicon-menu-hamburger" style="cursor:pointer" onclick="openNav()"></span>
          <a href="/"><img src="/images/logo.png" class="logo"/></a>
          <!-- <img src="/images/profile.png" class="pull&#45;right profile"/> -->
      </div>
    </nav>

    <div id="sideMenu" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/campaigns">CAMPAIGNS</a><hr>
      {{!-- <a href="/analytics">ANALYTICS</a><hr> --}}
      <a href="mailto:team@hellogov.org">HELP</a><hr>
      <a href="/">PROFILE</a><hr>
      <a href="/logout">LOGOUT</a><hr>
    </div>

    <div class="content-wrapper" onclick="closeNav()">
      {{{body}}}
    </div>
  </body>

  <footer>
    <script src="/js/handlebars.runtime.min.js"></script>
    <script>
        (function () {
            var revive    = Handlebars.template,
                templates = Handlebars.templates = Handlebars.templates || {};

          {{#templates}}
            templates['{{{name}}}'] = revive({{{template}}});
          {{/templates}}
        }());
    </script>

  </footer>
</html>
